* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: inherit;
}
:focus,:active{outline: none;}
a:focus.a:active{outline: none;}

nav,footer,header,aside{display: block}

input,button,textarea{font-family: inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6 {font-size: 1em;}

html,body {
    height: 100%;
    width: 100%;
    line-height: 1;
    background-color: rgb(224, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    vertical-align: middle;
    word-spacing: -0.1rem;
    line-height: 1.3;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

.container {
    width: 652px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(247, 247, 247);
}

header {
    margin-left: auto;
    margin-right: auto;
}

img {
    width: 100%;
}

.main {
    padding: 40px;
    padding-top: 22px;
    padding-bottom: 0;
}

h1  {
    margin-top: 18px;
    margin-bottom: 18px;
    font-size: 1.5rem;
}

h2 {
    margin-top: 18px;
    margin-bottom: 2px;
}

a {
    color: blue;
}

a:hover, a:visited {
    color: rgb(85, 26, 139);
}

hr {
    height: 3px;
    background-color: rgb(0, 114, 187);
}

.main p {
    margin-top: 18px;
    margin-bottom: 18px;
    text-align: justify;
}

span {
    font-weight: bold;
}

ul {
    margin-bottom: 18px;
}

li::before {
    padding-right: 4px;
    content: "-";
}

.date_item {
    padding-top: 2px;
    font-weight: bold;
}

footer {
    padding: 40px;
    padding-top: 0;
}

footer p {
    margin: 0;
}

.signature {
    margin-top: 18px;
    margin-bottom: 18px;
}